<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/employees}">Grocery Admin</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/employees}">Сотрудники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/campaigns}">Кампании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/warehouse_sessions}">Сессии склада</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/sessions}">Позиции сессий</a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post" class="d-flex">
                <button class="btn btn-outline-light btn-sm" type="submit">Выйти</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>
