DB_USER=bff_user
DB_PASSWORD=bff_password

JWT_SECRET=change_me_to_base64_256bit_secret

RAILS_URL=http://api:3000
RAILS_LOGIN=admin
RAILS_PASSWORD=change_me

ADMIN_LOGIN=admin
ADMIN_PASSWORD=change_me
